<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Benjamin Wright</a>

  <div id="navBars">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/gitscore">Git Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://codepen.io/bwright77/pen/aKyzvv">Price Calculator</a>
      </li>
     
    </ul>
  </div>
</nav>