<div class="main-container">
    <h2 class="mb-3">Git Score</h2>

    <div class="row">
        <div class="col-md-12 mb-3">
            <h4 class="d-flex mb-3">
                <span class="text-muted"></span>
            </h4>

            <div>
                <p class="card-text mb-3 text-muted text-left">
                    Please enter the GitHub user you wish to score: <br/>
                    <small class="text-muted">
                        Example: for https://github.com/dhh enter dhh
                    </small>
                </p>
                
            </div>

            <%= form_for :cart, url: '/gitscored', html: { class: 'card p-2' } do %>
                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">https://github.com/</span>
                </div>
                    <input name="slug" type="text" class="form-control" placeholder="< user >" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Score</button>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</div>