
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Maxwell Interview</h1>
    <p class="lead text-muted">Pleasure to be coding for you.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <div class="card-body">
            <h4>Exercise 1: DHH score challenge</h4>
            <p class="card-text"><strong>Task</strong><br/>
            Write a ruby program which when executed prints the score of https://github.com/dhh.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="gitscore" role="button" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <div class="card-body">
            <h4>Exercise 2: Price Calculator</h4>
            <p class="card-text"><strong>Task</strong><br/>
            Build a ruby program which when execute would ask user to list all the items purchased in any order. Once user has listed all the items then print the total cost.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="https://codepen.io/bwright77/pen/aKyzvv" role="button" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
              <span class="text-muted">CodePen</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
